---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/home/Hero.astro';
import AboutCompany from '../components/home/AboutCompany.astro';
import AboutStakeholders from '../components/home/AboutStakeholders.astro';
import CompanyHistory from '../components/home/CompanyHistory.astro';
import AboutTeam from '../components/home/AboutTeam.astro';
import ServicePartners from '../components/about/ServicePartners.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Hero />
		<AboutCompany />
		<AboutStakeholders />
		<ServicePartners />
		<CompanyHistory />
		<AboutTeam />
		<Footer background='rgba(244, 220, 145, 0.24)' />
	</body>
</html>
