---
import { SITE_URL } from "../../consts";


// Scroll handler function
const handleScroll = (sectionId: string) => {
  const section = document.getElementById(sectionId);
  if (section) {
    section.scrollIntoView({ behavior: 'smooth' });
  } else {
    console.warn(`No element with ID ${sectionId} found.`);
  }
};


const mdUp = false; 
---

<div
  class="hero"
  style={`background-image: url(${SITE_URL}/assets/overlay_yellow.svg), url(${SITE_URL}/assets/hero_main.svg);`}
>
  <div class="hero-content">
      <p class="hero-text">
        소상공인 중심의 <br />
        임베디드 금융으로  <br />
        <span class="bold">현금흐름 혁신서비스</span>를 <br />
        제공해 드립니다!
      </p>
  </div>
</div>

<style>
  .hero {
    height: 100dvh;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
  }

  .hero-content {
    padding-top: 18px;
  }

  .hero-text {
    font-family: SUIT;
    font-weight: 400;
    font-size: 36px;
    line-height: 67.2px;
    letter-spacing: -6%;
    text-align: center;
  }

  .bold {
    font-weight: 600;
  }


  @media (min-width: 900px) {
    .hero {
      padding: 0;
      justify-content: left;
    }
    .hero-content {
      padding: 10px 250px;
    }
    .hero-text {
      font-size: 
      font-size: 48px;
      text-align: left;
    }
  }

  .nav-link:hover {
    text-decoration: underline;
  }
</style>