---
import Logo from "./Logo.astro";

const today = new Date();
---

<footer>
	<div class="container">
		<div class="footer-content">
			<div>
				<Logo />
			</div>
			<div>
				<p style="display: inline; border-right: 1px solid #000;">(주)빌리크루 &nbsp;&nbsp;</p>
				<p style="display: inline">&nbsp;&nbsp;&nbsp; 대표이사 이상민</p>
				<p>서울특별시 영등포구 국제금융로2길 17, 6층 608호 (여의도동, 시티플라자)</p>
				<p>사업자등록번호: 678-87-02665</p>
				<p>tel: 02-6223-6003 &nbsp;&nbsp; fax: 02-6023-6004</p>
			</div>
			<div>
				<button id="topButton">
					TOP ▲
				</button>
			</div>
		</div>
	</div>
</footer>

<script>
	const topButton = document.getElementById('topButton');
	if (topButton) {
		topButton.addEventListener('click', () => {
			window.scrollTo({ top: 0, behavior: 'smooth' });
		});
	}
</script>

<style>
	
	footer {
		position: relative;
		background-color: rgba(191, 226, 245, 0.4); 
	}
	.footer-content {
		color: #000000; 
		font-size: 16px;
		font-weight: 500; 
		display: flex; 
		flex-direction: row; 
		justify-content: space-between;
		padding: 50px 0px 120px 0px;
	}
	footer img {
		border-radius: 50%;
	}

	#topButton {
		display: inline-flex; 
		align-items: center; 
		padding: 2px 20px; 
		border: none; 
		border-left: 1px solid #000; 
		border-right: 1px solid #000; 
		background: none; 
		font-size: 16px; 
		font-weight: 500; 
		cursor: pointer;
	}
</style>