---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, SITE_URL } from '../consts';
import Logo from './Logo.astro';
---

<header>
	<nav>
		<a href="/">
			<Logo />
		</a>
		<div class="internal-links">
			<HeaderLink href={`${SITE_URL}/`}>Home</HeaderLink>
			<HeaderLink href={`${SITE_URL}/blog`}>News</HeaderLink>
			<HeaderLink href={`${SITE_URL}/about`}>About</HeaderLink>
			<HeaderLink href={`${SITE_URL}/contact-us`}>Contact Us</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		backdrop-filter: blur(6px);
		-webkit-backdrop-filter: blur(6px);
		background-color: rgba(255, 255, 255, 0.8);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0.2em 0.5em;
		color: var(--black);
		text-decoration: none;
	}

	nav a svg{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
