---
import { SITE_URL } from '../consts';

---

<div class="social-links">
  <a href="#" id="facebook-share" target="_blank" aria-label="Share on Facebook">
    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="36" height="36" rx="18" fill="#231F20"/>
      <path d="M16.2869 25V18.4308H14.5V16.0656H16.2869V14.0454C16.2869 12.4578 17.3425 11 19.7747 11C20.7595 11 21.4877 11.0918 21.4877 11.0918L21.4303 13.3005C21.4303 13.3005 20.6876 13.2935 19.8772 13.2935C19.0002 13.2935 18.8596 13.6864 18.8596 14.3385V16.0656H21.5L21.3851 18.4308H18.8596V25H16.2869Z" fill="white"/>
    </svg>
  </a>
  <a href="#" id="twitter-share" target="_blank" aria-label="Share on Twitter">
    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="36" height="36" rx="18" fill="#231F20"/>
      <path d="M27 12.6817C26.326 12.9662 25.611 13.1529 24.879 13.2357C25.6415 12.8003 26.227 12.1108 26.5027 11.2893C25.7778 11.6991 24.9847 11.9878 24.1577 12.143C23.484 11.4593 22.5243 11.032 21.4621 11.032C19.4226 11.032 17.7691 12.6072 17.7691 14.5501C17.7691 14.8258 17.8018 15.0943 17.8647 15.3519C14.7956 15.2051 12.0745 13.8045 10.253 11.676C9.93523 12.1956 9.75312 12.8 9.75312 13.4447C9.75312 14.6653 10.4051 15.7421 11.396 16.373C10.8095 16.3555 10.236 16.2046 9.72323 15.9329C9.72302 15.9477 9.72302 15.9624 9.72302 15.9772C9.72302 17.6818 10.996 19.1037 12.6853 19.427C12.1415 19.5679 11.5711 19.5885 11.0176 19.4872C11.4875 20.885 12.8514 21.9021 14.4673 21.9305C13.2034 22.8741 11.6111 23.4366 9.88095 23.4366C9.58282 23.4366 9.28891 23.4199 9 23.3874C10.6343 24.3856 12.5754 24.9681 14.6609 24.9681C21.4535 24.9681 25.1679 19.6071 25.1679 14.9581C25.1679 14.8055 25.1644 14.6538 25.1573 14.5029C25.8802 14.005 26.5042 13.3883 27 12.6817Z" fill="white"/>
    </svg>
  </a>
  <a  href="#" id="linkedin-share" target="_blank" aria-label="Share on LinkedIn">
    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="36" height="36" rx="18" fill="#231F20"/>
      <path d="M13.6315 25.5V15.3795H10.2012V25.5H13.6315ZM11.9168 13.9969C13.113 13.9969 13.8575 13.2198 13.8575 12.2486C13.8353 11.2556 13.113 10.5 11.9395 10.5C10.7661 10.5 9.99878 11.2556 9.99878 12.2486C9.99878 13.2198 10.7432 13.9969 11.8944 13.9969H11.9167H11.9168ZM15.5301 25.5H18.9604V19.8482C18.9604 19.5458 18.9827 19.2436 19.0733 19.0274C19.3213 18.423 19.8857 17.7971 20.8333 17.7971C22.0746 17.7971 22.5712 18.7252 22.5712 20.0857V25.4999H26.0013V19.6969C26.0013 16.5883 24.3089 15.1419 22.052 15.1419C20.2015 15.1419 19.389 16.1563 18.9376 16.8471H18.9605V15.3793H15.5302C15.5752 16.329 15.5302 25.4998 15.5302 25.4998L15.5301 25.5Z" fill="white"/>
    </svg>
  </a>
  <a  href="#" id="instagram-share" target="_blank" aria-label="Share on LinkedIn">
		<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect width="36" height="36" rx="18" fill="#231F20"/>
		<path d="M18.0018 13.9606C15.7304 13.9606 13.8982 15.7641 13.8982 18C13.8982 20.2359 15.7304 22.0395 18.0018 22.0395C20.2732 22.0395 22.1054 20.2359 22.1054 18C22.1054 15.7641 20.2732 13.9606 18.0018 13.9606ZM18.0018 20.6262C16.5339 20.6262 15.3339 19.4484 15.3339 18C15.3339 16.5516 16.5304 15.3738 18.0018 15.3738C19.4732 15.3738 20.6696 16.5516 20.6696 18C20.6696 19.4484 19.4696 20.6262 18.0018 20.6262ZM23.2304 13.7953C23.2304 14.3192 22.8018 14.7375 22.2732 14.7375C21.7411 14.7375 21.3161 14.3156 21.3161 13.7953C21.3161 13.275 21.7446 12.8531 22.2732 12.8531C22.8018 12.8531 23.2304 13.275 23.2304 13.7953ZM25.9482 14.7516C25.8875 13.4895 25.5946 12.3715 24.6554 11.4504C23.7196 10.5293 22.5839 10.241 21.3018 10.1777C19.9804 10.1039 16.0196 10.1039 14.6982 10.1777C13.4196 10.2375 12.2839 10.5258 11.3447 11.4469C10.4054 12.368 10.1161 13.4859 10.0518 14.7481C9.97679 16.0488 9.97679 19.9477 10.0518 21.2484C10.1125 22.5106 10.4054 23.6285 11.3447 24.5496C12.2839 25.4707 13.4161 25.759 14.6982 25.8223C16.0196 25.8961 19.9804 25.8961 21.3018 25.8223C22.5839 25.7625 23.7196 25.4742 24.6554 24.5496C25.5911 23.6285 25.8839 22.5106 25.9482 21.2484C26.0232 19.9477 26.0232 16.0524 25.9482 14.7516ZM24.2411 22.6441C23.9625 23.3332 23.4232 23.8641 22.7196 24.1418C21.6661 24.5531 19.1661 24.4582 18.0018 24.4582C16.8375 24.4582 14.3339 24.5496 13.2839 24.1418C12.5839 23.8676 12.0447 23.3367 11.7625 22.6441C11.3447 21.607 11.4411 19.1461 11.4411 18C11.4411 16.8539 11.3482 14.3895 11.7625 13.3559C12.0411 12.6668 12.5804 12.1359 13.2839 11.8582C14.3375 11.4469 16.8375 11.5418 18.0018 11.5418C19.1661 11.5418 21.6696 11.4504 22.7196 11.8582C23.4196 12.1324 23.9589 12.6633 24.2411 13.3559C24.6589 14.393 24.5625 16.8539 24.5625 18C24.5625 19.1461 24.6589 21.6106 24.2411 22.6441Z" fill="white"/>
	</svg>
  </a>
  <button id="copy-button" class="copy-link" aria-label="Copy link to clipboard">
    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="36" height="36" rx="18" fill="white"/>
      <path d="M14.875 21.125L21.125 14.875M12.6625 16.2625L11.3375 17.5875C10.3993 18.5257 9.87219 19.7982 9.87219 21.125C9.87219 22.4518 10.3993 23.7243 11.3375 24.6625C12.2757 25.6007 13.5482 26.1278 14.875 26.1278C16.2018 26.1278 17.4743 25.6007 18.4125 24.6625L19.7375 23.3375M23.3375 19.7375L24.6625 18.4125C25.6007 17.4743 26.1278 16.2018 26.1278 14.875C26.1278 13.5482 25.6007 12.2757 24.6625 11.3375C23.7243 10.3993 22.4518 9.87219 21.125 9.87219C19.7982 9.87219 18.5257 10.3993 17.5875 11.3375L16.2625 12.6625" stroke="#231F20" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  	<span class="copy-tooltip">Copied!</span>
  </button>
</div>

<script type="module">
  const copyButton = document.getElementById('copy-button');

  if (copyButton) {
    copyButton.addEventListener('click', () => {
      navigator.clipboard.writeText(window.location.href)
        .then(() => {
          copyButton.classList.add('copied');
          setTimeout(() => {
            copyButton.classList.remove('copied');
          }, 2000);
        })
        .catch(err => console.error('Failed to copy:', err));
    });
  }
</script>

<script type="module">
  const url = encodeURIComponent(window.location.href);

  const shareConfigs = [
    { id: 'facebook-share', url: `https://www.facebook.com/sharer/sharer.php?u=${url}` },
    { id: 'twitter-share', url: `https://twitter.com/intent/tweet?url=${url}&text=Check out this blog post!` },
    { id: 'linkedin-share', url: `https://www.linkedin.com/sharing/share-offsite/?url=${url}` },
    { id: 'instagram-share', url: `https://www.instagram.com/?url=${url}` },
  ];

  shareConfigs.forEach(({ id, url }) => {
    const el = document.getElementById(id);
    if (el) el.href = url;
  });
</script>



<style>
  .social-links,
  .social-links a {
    display: flex;
    color: var(--black);
    gap: 1rem;
  }

  .social-links button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .copy-link {
    transition: transform 0.3s ease;
  }



.copy-tooltip {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.copy-link.copied .copy-tooltip {
  opacity: 1;
}

  .copy-link.copied {
    transform: scale(1.1);
  }

  @media (max-width: 720px) {
    .social-links {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

    .social-links a,
    .social-links button {
      width: 36px; 
      height: 36px;
    }
  }
</style>