---
import { SITE_URL } from "../../consts";
---

<div
  class="hero"
  style={`background-image: url(${SITE_URL}/assets/overlay_green.svg), url(${SITE_URL}/assets/hero_news.svg);`}
>
    <div class="container">
      <p class="hero-text">
        NEWS <br /> 빌리크루의 새로운 도약과 성장
      </p>
    </div>
</div>

<style>
  .hero {
    height: 100dvh;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
  }


  .hero-text {
    font-family: SUIT;
    font-size: 18px;
    color: black;
    margin: 0;
    line-height: 1.5;
  }



  @media (min-width: 900px) {
    .hero {
      padding: 0;
    }
    .hero-text {
      color: black;
      font-size: 48px;
      text-align: left !important;
    }

  }

</style>